#nav1{
  background-color: black;
  
}
#a1{
    color: whitesmoke;
}
#jt1{
    margin-top: 5%;
}
/* #searchtext{

border: solid darkgrey;
} */
#movies img, #movie img{
    width:100%;
  }
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
  }
  
  /* .input-group{
    margin-left: 500px;
    width: 20%;
    height: 10%;
  } */
  
 